.player {
  display: flex;
  align-items: center;
  background-color: #93816c;
  width: 300px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding: 10px;

  span {
    margin-left: 32px;
    font-size: 24px;
  }

  img {
    height: 70px;
    //width: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: orange !important;
}

@media (max-width: 1050px) {
  .player {
    border-radius: 45px;
    width: unset;
    padding-right: 50px;
  }
}

@media (max-width: 600px) {
  .player {
    img {
      height: 40px;
    }
  }
}
